{:itonami.blueprint/id "cloud-itonami-isic-2620"
 :itonami.blueprint/name "Manufacture of Computers and Peripheral Equipment"
 :itonami.blueprint/isic-rev5 "2620"
 :itonami.blueprint/domain :manufacturing/computers-and-peripherals
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:product-safety :supply-resilience :industrial-jobs]
 :itonami.blueprint/governor :assembly-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :cae :dmn :bpmn :audit-ledger]
 :itonami.blueprint/optional-technologies [:cfd :telemetry :optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented}
