{:kotoba.app/id "cloud.itonami.isic-2620", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiaopjk5t7pg374lpkmqar42spq4jpctdrle3mds66tohpu6xs5d3q", :kotoba.app/embed-url "ipfs://bafkreiaopjk5t7pg374lpkmqar42spq4jpctdrle3mds66tohpu6xs5d3q", :published {:archive "https://kotobase.net/ipfs/bafkreiaopjk5t7pg374lpkmqar42spq4jpctdrle3mds66tohpu6xs5d3q", :size 72547, :put-status 201, :get-status 200, :at "2026-08-15T13:39:47.323Z"}}
